<%- include('partials/header') %>
<h2><%= product.name %></h2>
<p><%= product.description %></p>
<p>Price: <%= formatPrice(product.price) %></p>
<button>Add to Wishlist</button>
<%- include('partials/footer') %>
